* {
  margin: 0px;
  padding: 0px;
  border: 0px;
}

/* Body CSS */
html {
  background: rgba(128, 172, 172, 0.7) 100%;
}

#root {
  background: rgb(154, 109, 109);
  background: linear-gradient(
    180deg,
    rgba(154, 109, 109, 1) 5%,
    rgba(128, 172, 172, 0.7) 100%
  );
  margin: auto;
}

/* Nav Bar */

/* .logo,
.logo a {
  text-align: center;
  color: white;
  text-decoration: none;
  font-size: 32pt;
}

.logo a:hover {
  color: white;
} */

.navbar-flower {
  /* background-color: rgba(154, 109, 109, 0); */
  padding: 0px;
}

.navbar-flower a:hover,
.navbar-flower a:focus {
  color: white;
}

.navbar-flower a,
.navbar-flower a:hover {
  color: white;
}

.navbar-toggler-icon {
  border: 1px solid white;
  background-color: blueviolet;
}

.navbar-nav a {
  margin-right: 100px;
}

/* Create Account Form */

.account-section {
  color: #ececec;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  margin: 3% 25% auto 25%;
  padding: 5%;
  background: #9a6d6d;
  border: 1px solid #5f5f5f;
  box-sizing: border-box;
  box-shadow: 10px 10px 4px 3px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
}

@media only screen and (max-width: 1200px) {
  .account-section {
    margin: 3% 12.5%;
  }
}

.account-section h2 {
  text-align: center;
  letter-spacing: 0.16em;
  margin-bottom: 2rem;
  font-weight: 600;
  font-size: 51px;
}

.form-control {
  background: rgba(196, 196, 196, 0.75) !important;
  border: 0.5px solid #000000 !important;
  box-sizing: border-box !important;
  border-radius: 4px !important;
}

/* Account Details Form */

.detailsRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-size: 24px;
  font-weight: 400;
  column-gap: 2rem;
}

.detailsRow label {
  font-size: 20px;
  font-weight: 500;
}

.detailsRow span {
  font-size: 20px;
  font-family: "Inter";
}
.subDetail {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.subDetail label {
  font-weight: 700;
}

@media only screen and (max-width: 800px) {
  .subDetail,
  .login-new-user {
    flex-direction: column;
  }
}

.account-section h3 {
  margin-top: 30px;
  text-decoration: underline;
  text-align: left;
  font-weight: 600;
  font-size: 24px;
  letter-spacing: 0.11em;
}

.detailBottom {
  display: flex;
  flex-direction: column;
  text-align: right;
}

.editAccount {
  font-style: normal;
  background: #45b3f1;
  color: white;
  border-radius: 8px;
  font-weight: 500;
  font-size: 24px;
  padding: 0.75rem;
}

/* Login & Change Password Form */

.account-section-password,
.account-section-login {
  color: #ececec;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  margin: 3% 35% auto 35%;
  padding: 5%;
  background: #9a6d6d;
  border: 1px solid #5f5f5f;
  box-sizing: border-box;
  box-shadow: 10px 10px 4px 3px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
}

.account-section-password h2,
.account-section-login h2 {
  text-align: center;
  letter-spacing: 0.16em;
  margin-bottom: 2rem;
  font-weight: 600;
  font-size: 32px;
}

@media only screen and (max-width: 1000px) {
  .account-section-login {
    margin: 3% 25% auto 25%;
  }
}

@media only screen and (max-width: 800px) {
  .account-section-login {
    margin: 3% 20% auto 20%;
  }
}

.change-password-form,
.login-form {
  text-align: center;
}

.login-form .form-group input {
  border-radius: 20px !important;
}

.login-form .form-group label {
  font-weight: 500;
  font-size: 16px;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.account-section-login {
  padding-bottom: 3%;
}

.account-section-login button {
  background: #45b3f1;
  border-radius: 8px;
  padding: 10px 30px;
}

.login-new-user {
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.login-new-user a,
.account-section a {
  color: white;
  font-style: italic;
}
