* {
  margin: 0px;
  padding: 0px;
  border: 0px;
}

/* Body CSS */
html {
  background: rgba(128, 172, 172, 0.329) 100%;
}

#root {
  background: rgb(154, 109, 109);
  background: linear-gradient(
    180deg,
    rgba(154, 109, 109, 1) 5%,
    rgba(128, 172, 172, 0.7) 100%
  );
  margin: auto;
}

.background {
  background: linear-gradient(
    180deg,
    rgba(140, 200, 224, 0.75) 0%,
    rgba(140, 200, 224, 0.4) 67.09%
  );
}

/* Nav Bar */

/* .logo,
.logo a {
  text-align: center;
  color: white;
  text-decoration: none;
  font-size: 32pt;
}

.logo a:hover {
  color: white;
} */

.navbar-flower {
  /* background-color: rgba(154, 109, 109, 0); */
  padding: 0px;
}

.navbar-flower a:hover,
.navbar-flower a:focus {
  color: white;
}

.navbar-flower a,
.navbar-flower a:hover {
  color: white;
}

.navbar-toggler-icon {
  border: 1px solid white;
  background-color: blueviolet;
}

.navbar-nav a {
  margin-right: 100px;
}

/* Captcha Button */

/* .form-check {
  align-items: center;
}

.form-check-input {
  height: 2em !important;
  width: 2em !important;
}

.form-check-label {
  margin-left: 10%;
  align-items: center;
} */
/* Create Account Form */

.account-section {
  color: #ececec;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  margin: 3% 25% auto 25%;
  padding: 5%;
  background: #9a6d6d;
  border: 1px solid #5f5f5f;
  box-sizing: border-box;
  box-shadow: 10px 10px 4px 3px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
}

@media only screen and (max-width: 1200px) {
  .account-section {
    margin: 3% 12.5%;
  }
}

.account-section h2 {
  text-align: center;
  letter-spacing: 0.16em;
  margin-bottom: 2rem;
  font-weight: 600;
  font-size: 51px;
}

.form-control {
  background: rgba(196, 196, 196, 0.75) !important;
  border: 0.5px solid #000000 !important;
  box-sizing: border-box !important;
  border-radius: 4px !important;
}

/* Account Details Form */

.detailsRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-size: 24px;
  font-weight: 400;
  column-gap: 2rem;
}

.detailsRow label {
  font-size: 20px;
  font-weight: 500;
}

.dots::after {
  content: " ";
  border-bottom: 1px dotted black;
}

.detailsRow span {
  font-size: 20px;
  font-family: "Inter";
}

@media only screen and (max-width: 800px) {
  .subDetail,
  .login-new-user {
    flex-direction: column;
  }
}

.account-section h3 {
  margin-top: 30px;
  text-decoration: underline;
  text-align: left;
  font-weight: 600;
  font-size: 24px;
  letter-spacing: 0.11em;
}

.detailBottom {
  display: flex;
  flex-direction: column;
  text-align: right;
}

.editAccount {
  font-style: normal;
  background: #45b3f1;
  color: white;
  border-radius: 8px;
  font-weight: 500;
  font-size: 24px;
  padding: 0.75rem;
}

.logout-btn {
  margin-top: 10px;
  padding: 5px;
  border-radius: 16px;
  color: white;
  background-color: #5f5f5f;
  transition: 0.2s;
}

.logout-btn:hover {
  transition: 0.2s;
  background-color: white;
  color: #000000;
}

/* Login & Change Password Form */

.account-section-password,
.account-section-login {
  color: #ececec;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  margin: 3% 35% auto 35%;
  padding: 5%;
  background: #9a6d6d;
  border: 1px solid #5f5f5f;
  box-sizing: border-box;
  box-shadow: 10px 10px 4px 3px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
}

.account-section-password h2,
.account-section-login h2 {
  text-align: center;
  letter-spacing: 0.16em;
  margin-bottom: 2rem;
  font-weight: 600;
  font-size: 44pt;
}

@media only screen and (max-width: 1500px) {
  .account-section-login,
  .account-section-password {
    margin: 3% 25% auto 25%;
  }
}

@media only screen and (max-width: 1000px) {
  .account-section-login,
  .account-section-password {
    margin: 3% 20% auto 20%;
  }
}

@media only screen and (max-width: 800px) {
  .account-section-login,
  .account-section-password {
    margin: 3% 20% auto 20%;
  }
  .account-section-password h2 {
    font-size: 2rem;
  }
}

.change-password-form,
.login-form {
  text-align: center;
}

.login-form .form-group input {
  border-radius: 20px !important;
}

.login-form .form-group label {
  font-weight: 500;
  font-size: 18px;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.account-section-login {
  padding-bottom: 3%;
}

.account-section-login button {
  background: #45b3f1;
  border-radius: 8px;
  padding: 10px 30px;
}

.login-new-user {
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 18pt;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.login-new-user a,
.account-section a {
  color: white;
  font-style: italic;
}

/* Main Page + Categories */

.mainContainer {
  position: relative;
  margin: auto 383px auto 383px;
  padding-left: 48px;
  padding-right: 48px;
  border: 1px solid rgba(82, 78, 78, 0.5);
}

.mainContainer h1 {
  margin: 0;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 42px;
}

.mainContainer hr {
  margin: 8px auto 24px auto;
}

.gridContainer {
  display: grid;
  grid-template-columns: 304px 304px 304px;
  grid-template-rows: 424px 424px 424px;
  grid-column-gap: 64px;
  grid-row-gap: 32px;
}

/* top, right, bottom, left */
.itemBox {
  display: block;
  background-color: rgba(244, 244, 244, 0.5);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-bottom: 2px solid #2b54bc;
}

.itemBox figure {
  margin: 0px 0px 0px 0px;
}

.itemBox img {
  width: 272px;
  height: 267px;
  margin: 16px;
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.itemBox h2 {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 24px;
  margin-left: 16px;
}

.itemBox p {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 24px;
  margin: 8px 0px 0px 16px;
}

@media only screen and (max-width: 1500px) {
  .gridContainer {
    grid-template-columns: 304px 304px;
    grid-template-rows: 424px 424px;
    grid-column-gap: 27px;
  }
}

@media only screen and (max-width: 1000px) {
  .mainContainer {
    margin: auto;
    padding-left: 48px;
    padding-right: 48px;
    border: none;
  }
  .gridContainer {
    grid-template-columns: 304px 304px;
    grid-template-rows: 424px 424px;
    grid-column-gap: 64px;
  }
}

@media only screen and (max-width: 800px) {
  .gridContainer {
    grid-column-gap: 48px;
  }
  .itemBox {
    margin-left: 16px;
  }
  .itemBox img {
    margin-left: 8px;
  }
}
